<html>
    <head>
        <link rel="stylesheet" href="~/css/MainPageStyle.css"/>
        <script src="~/lib/jquery/jquery.js"></script>
    </head>
    <body>
        <div class="variant1">
            
        </div>
        <div class="variant2">

        </div>
        <script src="~/js/MainPageScript.js"></script>
    </body>

</html>